<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="css/loginSignUp.css">
    </head>
    <body>

        <div class="container" id="pop-up">
            <a href="/home" class="close">&times;</a>
            <form class="form" id="createAccount" method="post" action="/signup">
            <center>
                {{!-- <img src="../Images/yummy.jpg" alt="logo" width="25%" style="border-radius: 50%;"> --}}
            </center>
            <h1 class="form_title">Create Account / SignUp</h1>
            <div class="form_message form_message_error"></div>
            <div class="form_input_group">
                <input type="text" id="signupUsername" name="username" class="form_input" autofocus placeholder="Username">
                <div class="form_input_error_message"></div>
            </div>
            <div class="form_input_group">
                <input type="email" class="form_input" name="email" autofocus placeholder="Email Address">
                <div class="form_input_error_message"></div>
            </div>
            <div class="form_input_group">
                <input type="tel" class="form_input" name="phone" autofocus placeholder="Phone Number">
                <div class="form_input_error_message"></div>
            </div>
            <div class="form_input_group">
                <input type="password" class="form_input" name="password" autofocus placeholder="Password">
                <div class="form_input_error_message"></div>
            </div>
            <div class="form_input_group">
                <input type="password" class="form_input" autofocus placeholder="Confirm password">
                <div class="form_input_error_message"></div>
            </div>
            <button class="form_button" type="submit">SignUp</button>
            <p class="form_text">
                <a class="form_link" href="/" id="linkLogin">Already have an account? SignIn</a>
            </p>
        </form>
        </div>

    </body>
</html> 