<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/loginSignUp.css">
    </head>
    <body>

        <div class="container" id="pop-up">
           <a href="/home" class="close">&times;</a>
           <form class="form" id="login" method="post" action="/">
                <center>
                   <img src="images/yummy.jpg" alt="logo" width="25%" style="border-radius: 50%;">
                </center>

                <h1 class="form_title">Login</h1>
                <div class="form_message form_message_error"></div>
                <div class="form_input_group">
                    <input type="text" id="loginUsername" name="username" class="form_input" autofocus placeholder="Username">
                    <div class="error" id="loginUsernameErr"></div>
                </div>
                <div class="form_input_group">
                    <input type="password" id="loginPass" name="password" class="form_input" autofocus placeholder="Password">
                    <div class="error" id="loginPassErr"></div>
                </div>
                <button class="form_button" type="submit">SignIn</button>
                <p class="form_text">
                    <a href="#" class="form_link">Forgot your password?</a>
                </p>
                <p class="form_text">
                    <a class="form__link" href="/signup" id="linkCreateAccount">Don't have an account? Create account</a>
                </p>
            </form>
        </div>
        
    <script>
        function printError(elemId, hintMsg) {
            document.getElementById(elemId).innerHTML = hintMsg;
        }

        function validateLoginForm(){
            var loginUsername = document.getElementById("loginUsername").value;
            var loginPass = document.getElementById("loginPass").value;
        
            

            if(loginUsername==""){
                printError("loginUsernameErr", "Please enter your username.")
            }else{              
                var usernameRegEx =  /^[A-Za-z][A-Za-z0-9_]{8,20}$/;
                if(usernameRegEx.test(loginUsername)){
                    printError("loginUsernameErr", "");
                    loginUsernameErr = false;
                }else{
                    printError("loginUsernameErr", "Please enter a valid username not less than 8 characters.");
                }
            }
            
            if(loginPass==""){
                printError("loginPassErr", "Please enter your password")
            }else{
                var loginPassRegEx = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/;
                if(loginPassRegEx.test(loginPass)){
                    printError("loginPassErr", "");
                    loginPassErr = false;
                }else{
                    printError("loginPassErr", "Password didn't matched");
                }
            }


            if(!loginUsernameErr && !loginPassErr){
                alert("Your have login successfully !!!");
                return true;
            }else{
                return false;
            }

        }
    
    </script>

    </body>
</html> 
